.attribution { text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: url("./images/bg-intro-desktop.png");
	background-color:hsl(0, 100%, 74%);
	max-width: 100%;
	max-height: 100%;
	align-items: center;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}

h2 {
	color: white;
	font-size: 40px;
	line-height: 1.2;
}

button {
	background-color:  hsl(248, 32%, 49%);
	border-radius: 5px;
	padding: 20px 100px;
	border: none;
	color: white;
	width: 700px;
	box-shadow: 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-size: 16px;
	margin: 0 auto;
	grid-gap: 40px;
}

.left {
	display: grid;
	margin-top: 25%;
	margin-left: 40%;
}
.left > p {

	margin-top: 20px;
	color: white;
}

.right {
	display: grid;
	margin-top: 13%;
	margin-right: 20%;
	justify-content: center;
}

.form {
	background-color: white;
	width: 700px;
	height: 500px;
	margin-top: 40px;
	align-items: center;	
	border-radius: 5px;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
}

input {
	height: 50px;
	width: 600px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding-left: 15px;
}

.button-form {
	background-color: hsl(154, 59%, 51%);
	color: white;
	font-weight: 700;
	font-size: 16px;
	border: none;
	box-shadow: 0px 3px 4px hsl(154, 59%, 40%);
}

footer {
	margin-top: 150px;
	color: white;
	font-weight: 600;
}